h5.SIR HARRY{
    font:bold;
    color: bisque;
    font-size: 15px;
    font-style:inherit;
}
h5.LADY SIMS{
    font:bold;
    color:aqua;
    font-size: 15px;
    font-style: oblique;
}
p.speech{
    font: 10px;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p.direction{
    font: 10px;;
    color: black;
    background-color: lightblue;
    font-family:Arial, Helvetica, sans-serif;
}
p.direction:hover {
    background-color:lightgrey;
    color: blue;
    
}

h5:hover {
    text-shadow: 20px 20px 30px gray;
    border-bottom: black solid;
    font-size: 30px;
}
h5.LADY SIMS:hover {
    text-shadow: 20px 20px 30px lightgreen;
    border-bottom: black solid;
    font-size: 30px;
}

table { 
    color: black;
    /*width: 300px;*/
    margin: 25px 25px 25px;   
    
    }
table,th,td{
    padding: 20px;
    border: 1px solid black;
    border-collapse: collapse;

}
td {
       
    color:brown;
    text-align: center;

}
th{
      
    font: bold;
    color: black;
    text-align: center;
    background-color: bisque;
}
tr:nth-child(even) {
    background-color: #fff;
  }
  tr:nth-child(odd) {
    background-color: #ddd;
  }

  img {
    display: block;
    width:100% ;
  }